/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* END CSS RESET */

/* FONTS */

/* @font-face {
    font-family: 'Trip Sans';
    src: url('{% static "example/fonts/TripSans-Regular.ttf" %}') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Trip Sans';
    src: url('{% static "example/fonts/TripSans-Bold.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: normal;
} */

.merriweather-regular-italic {
	font-family: "Merriweather", serif;
	font-weight: 400;
	font-style: italic;
  }

body {
	min-width: 250px;
    height: 100%;
    font-family: 'Trip Sans', sans-serif;
	background-color: white;
}

.wrapper {
    max-width: 2120px;
    min-width: 250px;
    min-height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1 0 auto;
}

/* */

/* Скрываем меню и показываем кнопку для мобильных устройств */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.logo{
	margin-left: 5rem;
	font-size: 36px;
	font-weight: 700;
}

.logo__geo{
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 20px;
	font-weight: 400;
}

.base__header{
	background-color: #5E6977;
	color: white;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.nav__header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    gap: 2rem;
}

.nav__header ul {
    position: relative; 
}

.nav__header :hover{
	cursor: pointer;
}

.nav__header ul::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s; 
}

.nav__header ul:hover::after {
    background-color: white;
}


.login__header{
	margin-right: 5rem;
}
.button__gray{
    display: flex;
	background-color: #2B323980;
	height: 3rem;
	width: 7rem;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
    justify-content: center;
    align-items: center;
}
.button__gray:hover{
	background-color: #dddddd;
	color:  #2b3239;
    transition: background-color 0.5s; 
}

.base__footer{
	padding: 1rem;
	background-color: #5E6977;
	color: white;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
    flex: 0 0 auto;
}
.footer__title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.footer_info{
	margin-bottom: 0.3rem;
}
.infblock__footer{
	margin-left: 5rem;
}
.svg__footer{
	display: flex;
	gap: 1rem;
}
.username {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 15px;
    font-size: 20px;
}

.menu-container {
    display: inline-block;
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

.menu a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover {
    color: #961414;
}



/* MEDIA */


@media (max-width: 992px) {
    .base__header {
        flex-direction: column;
        align-items: center;
		border-bottom: 1px solid #00000040;
    }

    .logo, .login__header, .infblock__footer{
        margin: 0;
    }
	.logo, .nav__buttons{
		margin-bottom: 1rem;
	}
    .nav__header {
        flex-direction: row;
        gap: 1rem;
        font-size: 18px;
    }

    .login__button {
        width: 6rem;
        height: 2rem;
    }
	.base__footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
	.footer__title{
		font-size: 16px;
	}
	.footer_info{
		font-size: 14px;
	}
}

@media (max-width: 576px) {
	.footer__title{
		font-size: 14px;
	}
	.footer_info{
		font-size: 12px;
	}
	.vk, .tg svg{
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 436px) {
	.header {
        flex-wrap: wrap; /* Для корректного отображения */
    }
    .nav__header {
        display: none; /* Прячем меню */
        flex-direction: column;
        gap: 0.5rem;
        position: fixed; /* Закрепляем меню сверху */
        top: 150px;
        left: 0;
        right: 0;
        background-color: #5E6977; /* Заливка для полной ширины */
        padding: 1rem;
        z-index: 1000; /* Поверх других элементов */
		text-align: center;

    }
	.nav__header.active {
        display: flex; /* Показываем меню, если активировано */
    }

    .menu-toggle {
        display: block; /* Показываем кнопку */
    }

    .infblock__footer {
        flex: 1 1 calc(50% - 10px);
        margin-bottom: 20px;
    }

}

/*  MAIN  */
.route__welcome {
    position: relative; 
    height: 770px; 
    width: 100%; 
    overflow: hidden;
	display: flex;
    justify-content: center;
    gap: 4rem;
}

.route__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

.route__title__welcome, .route__create{
    padding-top: 5rem;
}

.route__title__welcome h1{
	font-family: Merriweather;
	color: white;
	font-size: 76px;
    text-align: justify;
}

.route__create{

}

.creation__menu {
	background-color: #5E6977;
	padding: 20px;
	border-radius: 15px;
	width: 360px;
	color: #FFFFFFCC;
}

.creation__menu h2 {
	text-align: center;
    font-size: 28px;
	margin-bottom: 20px;
}

.creation__menu select,
.creation__menu input[type="text"],
.creation__menu button {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border-radius: 15px;
    font-weight: 700;
}
.creation__menu select,
.creation__menu input[type="text"],
.creation__menu input::placeholder {
    background-color: #E5E5E5;
    color: #2B323980;
}

.creation__menu select{
    background: #E5E5E5 url('drop-down.svg') no-repeat right 10px center;
    appearance: none; 
}

.budget__selector, .time__selector{
    position: relative;
}

.budget__selector i, .time__selector i{
    position: absolute;
    right: 0.8rem;
    top: 1rem;
    cursor: text;
}


.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
.checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
.checkbox-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 17px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    transition: .3s;
  }
  
.checkbox-icon {
    opacity: 0;
    transition: .3s;
  }
  
.checkbox:checked + .checkbox-view {
    background-color: #5E6977;
  }
  
.checkbox:checked + .checkbox-view .checkbox-icon {
    opacity: 1;
  }

.creation__menu input[type="checkbox"] {
	transform: scale(1.5);
	margin-right: 10px;
}

.creation__menu label {
    display: flex;
    align-content: center;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5rem;
}

/* */ 

.route__choice{
    padding: 4rem;
    position: relative; 
    width: 100%; 
    overflow: hidden;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.choice__title{
    display: flex;
    align-items: center;
    background-color: #BCD3EE;
    border-radius: 1rem;
    width: 60%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.choice__title h1{
    font-weight: 700;
    font-size: 28px;
}

.routes__list{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.routes-list{
    display: flex; 
    flex-wrap: wrap; 
    gap: 4.5rem; 
    padding-left: 3rem;
}

.route__card{
    height: 500px;
    width: 350px;
    border: 0.5px  black;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 4px 0px #00000040;
    
}

.card__image{
    height: 210px;
}

.card__image img{
    width: 100%;
    height: 100%; 
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.card__info{
    padding: 5px;
}

.route__card h3::before {
    content: ""; 
    display: block;
    width: 80%; 
    height: 1px; 
    background-color: #2B323980; 
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
.card__info h3{
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.card__info p{
    padding: 5px;
    text-align: justify;
}

.category{
    color:#888888;
}

.price{

}

.price::after {
    content: ""; 
    display: block;
    width: 80%; 
    height: 1px; 
    background-color: #2B323980; 
    margin: 0 auto;
    margin-top: 10px;
  }

.card__button{
    display: flex;
    justify-content: center;
}

.button__blue{
	background-color: #BCD3EE;
	height: 3rem;
	width: 7rem;
	border-radius: 20px;
	font-size: 18px;
}
.button__blue:hover{
	background-color: #d2e1f2;
	color:  #2b3239;
    transition: background-color 0.5s; 
}

/* */

.route__view{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #748293;
    color: white;
    width: 85%;
    height: 85%;
    border-radius: 1rem;
    padding: 20px;
    gap: 2rem;
}

.route__info{
    width: 600px;
}

.info__title h1{
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}

.info__title h1::after{
    content: "";
    display: block;
    width: 80%; 
    height: 2px; 
    background-color: #5E6977; 
    margin: 0 auto;
    margin-top: 10px;
}

.place__title{
    margin-top: 10px;
    font-size: 26px;
    text-align: center;
}

.place__info{
    margin-top: 10px;
    color: #B4B4B4;
    text-align: justify;
}

.place__info p{
    margin-bottom: 10px;
    font-size: 14px;
}

.place__subinfo{
    margin-top: 10px;
    color: #B4B4B4;
    text-align: center;
}

.average__price{
    margin-bottom: 1rem;
}


.place__subinfo button{
    font-size: 16px;
    height: 35px;
    display: inline;
}

.worktime{
    margin-top: 15px;
    margin-bottom: 15px;
}

.gis__map{
    width: 50%;
    border-radius: 15px;
}




/* MEDIA */

@media (max-width: 1240px){
    .route__title__welcome h1{
        color: white;
        font-size: 56px;
    }

    .choice__title h1{
        font-size: 23px;
    }
    
    .route__card{
        height: 390px;
        width: 260px;
        
    }
    .card__image{
        height: 150px;
    }
    .card__info h3{
        text-align: center;
        font-weight: 700;
        font-size: 18px;
    }
    .card__info p{
        font-size: 14px;
    }
    .button__blue{
        height: 2rem;
        width: 6rem;
        font-size: 14px;
    }

    .gis__map{
        height: 100%;
        width: 400px;
        border-radius: 1.5rem;
    }
}

@media (max-width: 992px){
    .route__welcome{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .route__title__welcome{

    }
    .route__title__welcome h1{
        color: white;
        font-size: 42px;
    }
    .creation__menu{
        margin-bottom: 4rem;
    }
    
    .choice__title{
        height: 3rem;
    }

    .choice__title h1{
        font-size: 16px;
    }
    .routes__list{
        flex-direction: column;
    }

    .route__card{
        height: 480px;
        width: 320px;
        
    }
    .card__image{
        height: 210px;
    }
    .card__info h3{
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }
    .card__info p{
        font-size: 18px;
    }
    .button__blue{
        height: 2.5rem;
        width: 6rem;
        font-size: 16px;
    }
    .route__view{
        height: 1200px;
    }
    .route__container{
        width: 750px;
        flex-direction: column;
        align-items: center;
    }
    .route__map{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .gis__map{
        height: 33rem;
        width: 100%;
        margin-top: 3rem;
    }
}

@media (max-width: 768px){
    .route__container, .route__info{
        width: 510px;
    }
    .choice__title{
        background-color: white;
        margin-bottom: 2rem;
    }
    .choice__title h1{
        font-size: 18px;
        text-align: center;
    }
    .info__title h1{
        font-size: 36px;
    }
    .place__info p{
        font-size: 16px;
        padding: 10px;
    }
    .gis__map{
        height: 20rem;
        width: 100%;
        margin-top: 3rem;
    }
}

@media (max-width: 576px){
    .routes-list{
        padding-left: 0;
        justify-content: center;
    }
    .route__container, .route__info{
        width: 340px;
    }
    .route__card{
        height: 540px;        
    }
}

/* PLACES */

.places__banner{
    background-color: #748293;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
    height: 200px;
}
.places__banner h1{
    font-size: 70px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: 400;
    color: #FFFFFF;
}


.places__content{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.places__filters{
    background-color: #D2D4D7;
    border-radius: 15px;
    width: 215px;
    height: 700px;
}
.places__filters.active {
    width: 100%;
    text-align: center;
}
.filter__category{
    padding: 1rem 1rem 0 1rem;

}

.filter__category h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.filter__category ul{
    color: rgba(0, 0, 0, 0.5);
}

.filter__category li {
    padding: 0 0 3px 0;
}
  
.filter__category label {
    display: inline-block; 
    transition: all 0.3s ease;
}
  
.filter__category li:hover label {
    transform: translateY(-3px); 
    color: rgba(0, 0, 0, 0.75); 
    cursor: pointer;
}


.filter__category a{
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 0.5px;
    text-decoration-color: rgba(0, 0, 0, 0.25); 
}

.filter__category a:hover{
    color: rgba(0, 0, 0, 0.75); 
}

.filter__category input[type="checkbox"] {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.5); 
    border-radius: 3px; 
    position: relative; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filter__category input[type="checkbox"]:hover {
    border-color: rgba(0, 0, 0, 0.75); 
  }
  .filter__category input[type="checkbox"]:checked {
    border-color: rgba(0, 0, 0, 0.75); 
  }
  
  .filter__category input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100'%20height='100'%20viewBox='0%200%2024%2024'%3E%3Cpath%20d='M%2020.292969%205.2929688%20L%209%2016.585938%20L%204.7070312%2012.292969%20L%203.2929688%2013.707031%20L%209%2019.414062%20L%2021.707031%206.7070312%20L%2020.292969%205.2929688%20z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 90% 90%; 
  }

#budget-min-slider, #budget-max-slider {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 0.5px; 
    background: black; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
#budget-min-slider::-webkit-slider-thumb,
#budget-max-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартное оформление */
    appearance: none;
    width: 15px; /* Ширина бегунка */
    height: 15px; /* Высота бегунка */
    background: #fff; /* Цвет фона бегунка */
    border: rgba(0, 0, 0, 0.5);  /* Граница бегунка */
    border-radius: 50%; /* Круглая форма */
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

.budget__inputs input{
    background-color: white;
    width: 70px;
    height: 25px;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    color: #8F8F8F;
    font-size: 14px;
    padding-left: 5px;
}

.budget__inputs{
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider{
    border-top: 1px solid black;
    width: 20%;
    height: 1px;
}

.slider__container{
    position: relative;
    display: flex;
    gap: 10px;
}



.places__list{
    display: flex; /* Включаем flex */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку */
    gap: 1rem; /* Отступы между элементами */
    padding-left: 1rem; /* Сохраняем ваш отступ */
}


.place__card{
    display: flex;
    flex-direction: row;
    width: 25%;
    max-height: 315px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 4px 0px #00000040;
    flex: 0 1 calc(50% - 1rem);
}

.placecard__image{
    width: 250px;
}

.placecard__image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.placecard__info{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 0 0 1rem;
}

.placecard__header h3{
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
}
.divider__card{
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 1px;
}
.placecard__content{
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.placecard__content p{
    width: 80%;
}

.placecard__content, .placecard__footer{
    color: rgba(0, 0, 0, 0.5);
}
.placecard__footer{
    padding: 10px 10px 10px 0;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    gap: 10%;
}
.placecard__footer button{
    background-color: rgba(136, 151, 171, 1);
    border-radius: 10px;
    padding: 0 5px 0 10px;
    width: 140px;
    height: 40px;
    font-size: 14px;
    transition: background-color 0.5s; 
    color:  white;
}

.placecard__footer button:hover{
    background-color: rgb(178, 190, 204);
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0 2rem 1rem 0;
}

.pagination a, .pagination span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #e0e0e0;
    color: #333;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.pagination .current {
    background: #667788;
    color: white;
    font-weight: bold;
}

.pagination a:not(.current):hover {
    background: #667788;
    color: white;
}

.pagination .ellipsis {
    display: inline-block;
    background: transparent; /* Убираем фон */
    color: #999; /* Цвет текста */
    width: auto; /* Отключаем фиксированную ширину */
    height: auto; /* Отключаем фиксированную высоту */
    line-height: normal; /* Убираем выравнивание */
    border-radius: 0; /* Убираем круг */
    padding: 0 5px; /* Добавляем отступы */
}

.show__filters{
    display: none;
}

/* MEDIA */

@media (max-width: 1240px){
    .places__list{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .place__card{
        width: auto; 
        margin: 0 auto; 
    }

    .placecard__image{
        width: 75%; 
    }
    .placecard_image img{
        width:100%; 
        max-height: 100%; 
    }

    .placecard__info{
        padding: 10px; 
    }

    .placecard__header h3{
        font-size: 18px; 
    }

    .placecard__footer{
        margin: 2% 0 2% 0;
    }
}

@media (max-width: 992px){
    .places__banner h1{
        font-size: 55px;
    }
    .places__filters{
        display: block;
    }

    .placecard__image {
        width:80%; 
    }

    .placecard__info {
        text-align: center;
        font-size: 16px; 
    }

    .placecard__footer button {
        width: 120px; 
        font-size: 13px; 
    }
}

@media (max-width: 768px){
    .places__banner h1{
        font-size: 45px;
    }
    .places__filters{
        display: none;
    }
    .places__content{
        flex-direction: column;
    }
    .show__filters{
        display: block;
        font-size: 18px;
        color: #8F8F8F;
        padding-bottom: 15px;
    }
    .place__card {
        flex-direction: column;
        max-height: 750px;
        align-items: center;
    }

    .place__card {
        height: 500px;
    }

    .placecard__image {
        width:100%;  
    }
    .placecard__image img {
        height:250px;  
        width: 100%;
    }
}

@media (max-width: 576px){
    .places__banner i{
        display: none;
    }
    .places__banner h1{
        font-size: 36px;
    }
    /* .placecard__image{
        display: none;
    } */
    .place__card button{
        font-size: 12px;
        width: 100%;
    }
}

/* PLACE INFO */


.place__title-info{
    padding: 0 2rem 0 2rem;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.title-info{
    background-color: #5E6977;
    width: 380px;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.place__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1; 
}
.place__background img {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.title-info h1{
    color: white;
    font-size: 36px;
    font-weight: 700;
}
.title-info p{
    padding-top: 10px;
}
.place__description{
    margin-bottom: 10px;
}
.place__description, .place__category, .place__avgprice{
    color:rgba(255, 255, 255, 0.7);
}
.place__rating, .place__top, .title-info button{
    color:white;
}
.place__top{
    margin-bottom: 15px;
}
.place__category, .place__avgprice p{
    padding-bottom: 10px;
}
.place__category, .place__avgprice{
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    background-color: rgba(136, 151, 171, 1);
}
.title-info button{
    width: 100%;
}

.place__data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
}

.place__geo{
    height: 400px;
    width: 70%;
    background-color: rgba(116, 130, 147, 1);
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.place__map{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
.place__contacts{
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0 10px 5px;
}

.place__address, .place__phone{
    display: flex;
    align-items: center;
    gap: 5px;
}

.place__more{
    width: 25%;
    background-color: rgba(116, 130, 147, 1);
    border-radius: 15px;
}

.place__container{
    padding: 1rem;
}

.place__more h2{
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.place__more p{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    width: 90%;
    font-size: 18px;
}
.price__diff{
    margin-top: 1rem;
}
.price__diff p{
    margin-top: 5px;
}

.price__diff h3, .place__personal-info h3{
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.place__divider{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    margin-bottom: 10px;
}
.place__worktime{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    gap: 5px;
}

.place__images{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    padding: 1rem;
    gap: 15px;
}

.place__image{
    width: 25%;
}

.place__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.clickable-image {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    transition: transform 0.3s;
}

.clickable-image:hover {
    transform: scale(1.1);
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

.restaurant__menu{
    height: 200px;
    padding: 1rem;
}
.menu__banner{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: rgba(116, 130, 147, 1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.menu__banner h3{
    color: white;
    font-size: 46px;
    font-weight: 700;
    width: 45%;
    padding: 1rem;
    text-align: center;
}
.menu__banner button{
    color: white;
    width: 20%;
    height: 60%;
    font-size: 32px;
    font-weight: 400;
}

.reviews{
    width: 100%;
    padding: 1rem;
}

.reviews__title{
    width: 100%;
    padding: 1rem;
}
.reviews__title h3{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
    color:rgba(94, 105, 119, 1);
}
.review__input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review__input textarea{
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.review__textarea{
    width: 100%;
    max-width: 800px; /* Максимальная ширина */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    color: #555;
    outline: none;
    resize: none; /* Убирает возможность вручную растягивать */
    overflow: hidden; /* Скрывает лишний текст, пока не подстроится высота */
    box-sizing: border-box;
    min-height: 40px; /* Минимальная высота */
}

.reviews__list{
    padding-top: 1rem;
}

.review__card{
    width: 100%;
    background-color: rgba(116, 130, 147, 1);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    font-size: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.review__card-image{
    width: 90px;
    height: 90px;
}

.review__card img{
    border-radius: 50px;
}

.review__card-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.review__card   strong{
    color: white;
    font-size: 28px;
}

.review__content{
    padding-top: 1rem;
}

.review__subinfo{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 16px;
}

.button__more{
    transition: all 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.button__more:hover{
    color: rgba(215, 215, 215, 0.7);
    text-decoration-color: rgba(215, 215, 215, 0.7);
    transform: translateY(-2px);
}

.review__date{
    font-weight: 700;
    padding-right: 1rem;
}

.review__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2; /* Ограничение по количеству строк */
    max-height: calc(2 * 1.25em); /* 3 строки по высоте, где 1.5em - высота строки */
    text-overflow: ellipsis;
    transition: max-height 0.3s ease; /* Плавное расширение */
}

.review__text.expanded {
    display: block;
    max-height: none; /* Убираем ограничение по высоте */
}

#toggleButton svg {
    transition: transform 0.3s ease; /* Плавный переход для трансформации */
}

.review__divider{
    border-top: 1px solid rgba(43, 50, 57, 0.8);
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.review__area{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.rating__label, .rating, .review__area button{
    color:rgba(94, 105, 119, 1);
}



.empty__field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color:rgba(94, 105, 119, 1);
}

/* MEDIA */

@media (max-width: 1240px){
    .menu__banner h3{
        font-size: 36px;
    }
}

@media (max-width: 992px){
    .menu__banner h3{
        font-size: 28px;
    }
    .menu__banner button{
        width: 30%;
        font-size: 28px;
    }
    .place__contacts{
        width: 70%;
    }
}

@media (max-width: 768px){
    .place__images{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 0 1rem 0 1rem;
    }
    .place__image{
        width: 28%;
    }
    .place__contacts{
        width: 100%;
        font-size: 14px;
    }

}

@media (max-width: 576px){
    .menu__banner h3{
        font-size: 20px;
    }
    .menu__banner button{
        width: 30%;
        font-size: 20px;
    }
    .place__image{
        width: 90%;
    }
    .place__data{
        flex-direction: column;
    }
    .place__data, .place__geo{
        width: 100%;
    }
    .place__more{
        width: 100%;
    }
}


/*REGISTER */

.login__container {
    display: flex;
    height: 500px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    gap: 4rem;
    padding: 5rem;
    margin: auto;
}

.login__inputs {
    display: flex;
    flex-direction: column; 
    width: 50%;
    gap: 15px;
    color: #969696;
}

.login__inputs h1 {
    font-size: 33px;
    text-align: center;
    font-weight: bold;
}

.user__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 2px; 
    font-size: 14px;
    outline: none;
}

.login__container a{
    width: 50%;
}
.login__container a:hover {
    color:#000000;

}

.lightgray__button {
    width: 225px;
    padding: 12px;
    background-color: rgb(143, 143, 143); 
    color: white; 
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.lightgray__button:hover {
    background-color: #555; 
    transition: background-color 0.5s; 
}


.login__supports {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #969696;
    gap: 15px;
}

.login__supports p {
    padding-bottom: 1rem;
    line-height: 1.25;  
    text-align: justify;
}

.login__supports h1 {
    font-size: 33px;
    text-align: center;
    font-weight: bold;
    
}

.logdivider {
    border: none;
    border-right: 2px solid gray; 
    height: auto; 
}

.input__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; 
}
.input__container svg {
    position: absolute;
    right: 10px;
    width: 30px;
    height: auto;
    pointer-events: none; 
}

#togglePassword {
    pointer-events: auto; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

#togglePassword2 {
    pointer-events: auto; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

@media (max-width: 1240px) {
    .login__container {
        gap: 4rem; 
    }

    .login__inputs, .login__supports {
        width: 60%; 
        padding: 0; 
    }

    .divider {
        padding: 0; 
        margin: 0; 
        height: auto; 
    }

    .lightgray__button {
        width: 200px; 
    }

    .login__inputs h1, .login__supports h1 {
        font-size: 30px; 
    }
}


@media (max-width: 992px) {
    .login__container {
        flex-direction: column; 
        gap: 3rem;
        padding: 2rem;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .login__inputs, .login__supports {
        width: 70%; 
        padding-left: 0;
    }

    .divider {
        display: none; 
    }

    .login__inputs h1, .login__supports h1 {
        font-size: 28px; 
    }

    .lightgray__button {
        width: 70%; 
    }
}


@media (max-width: 768px) {
    .login__container {
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .login__inputs, .login__supports {
        width: 70%; 
    }

    .login__inputs h1, .login__supports h1 {
        font-size: 24px; 
    }

    .lightgray__button {
        width: 70%; 
    }

    .user__input {
        padding: 10px; 
    }
}


@media (max-width: 576px) {
    .login__container {
        padding: 1rem;
        gap: 1.5rem;
    }

    .login__inputs, .login__supports {
        width: 100%; 
    }

    .login__inputs h1, .login__supports h1 {
        font-size: 20px; 
    }

    .user__input {
        padding: 8px; 
        font-size: 12px; 
    }

    .lightgray__button {
        width: 70%; 
        font-size: 14px; 
    }
}



/* PROFILE */
.profile__container {
    display: flex;
    min-height: 100vh;
}

.profile__sidebar {
    width: 300px;
    background-color: #8897AB;
    padding: 20px;
    margin: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 20px;
}


.profile__sidebar h2 {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.profile__sidebar ul li {
    margin: 15px 0;
}

.profile__sidebar ul li a {
    text-decoration: none;
    color: #b5c5cd;
    font-size: 18px;
}

.profile__sidebar ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.profile__info {
    display: flex;
    padding: 40px;
    background-color: #8897AB;
    margin: 40px 20px 20px 20px;
    border-radius: 20px;
    flex: 1;
    gap: 4rem;
    height: 90%;

}
.profile__picture {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 400px;
    border-radius: 15px;
}

.profile__picture img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profileform__container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.profile__group {
    display: flex;
    margin-bottom: 20px;
    gap: 1rem;
}

.profile__group p{
    background-color: #748293;
    color: white;
    width: 50%;
    padding: 12px;
    border-radius: 15px;
    font-size: 16px;
    cursor: text;  
}

.profile__group label {
    color: white;
    font-weight: bold;
    width: 7rem;
    font-size: 20px;
    margin-top: 10px;
}

.profile__group input {
    background-color: #748293;
    color: white;
    width: 50%;
    padding: 12px;
    border-radius: 15px;
    font-size: 16px;
    cursor: text;  
}
/* Скрыть стандартное поле ввода файла */
input[type="file"] {
    display: none;  /* Скрываем стандартное поле */
}

/* Стилизация кнопки выбора файла (лейбла) */
.file-upload-label {
    display: inline-block;
    padding: 12px 20px;
    background-color: #6c757d;  /* Серый фон */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px 10px 0;
    font-weight: bold;
}

/* Стили для кнопки на ховере */
.file-upload-label:hover {
    background-color: #5a6268; /* Темный серый цвет на ховере */
}

/* Кнопка отправки формы */
.lightgrayprofile__button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #6c757d;  /* Серый фон */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.lightgrayprofile__button:hover {
    background-color: #5a6268;  /* Темный оттенок серого при наведении */
}

.hidden {
    display: none;
}
.nav-link.active {
    color: white;
    text-decoration: underline;
}
.favourite__places{
    flex:1;
}

.favouriteplace__info {
    display: flex;
    padding: 40px;
    background-color: #8897AB;
    margin: 40px 20px 20px 20px;
    border-radius: 20px;
    height: auto;
}
.places__grid {
    flex:1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.favourite__card {
    display: flex; 
    flex-direction: column; 
    background-color: #2B323980;
    border-radius: 15px;
    overflow: hidden;
    gap: 2rem;
}

.cardplaces__photo{
    flex:2;
}
.cardplaces__info {
    flex:1;
    padding: 15px;
    text-align: center;
    gap:1rem;
}

.cardplaces__info h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    line-height: 1.5; 
}

.cardplaces__info p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #FFFFFF80;
    line-height: 1.5; 
}

.cardplaces__details {
    flex:3;
    display:flex;
    gap: 5px;
}
.cardplaces__photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    max-width: 400px; 
    min-width: 200px; 
}
.cardplaces__button {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 40px;
}
.darkgray__button{
    background-color: #2B323980;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
}
.darkgray__button:hover{
    color:#000000;
    background-color: white;
    transition: background-color 0.5s; 
}


@media (max-width: 1240px) {
    .profile__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center; 
    }

    .profile__sidebar {
        width: 50%;
    }

    .profile__info {
        flex-direction: row;
        flex: unset;
    }

    .places__grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 992px) {
    .profile__container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .profile__sidebar {
        width: 50%;
        margin: 1rem;
    }

    .profile__info {
        flex-direction: column;
        padding: 20px;
        margin: 20px 0;
        align-items: center; 
    }
    .places__grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}


@media (max-width: 768px) {
    .profile__container {
        padding: 10px;
    }

    .profile__sidebar {
        width: 50%;
    }

    .profile__info {
        padding: 15px;
        margin: 10px 0;
    }

    .places__grid {
        grid-template-columns: repeat(1, 1fr); 
    }

    .favourite__card {
        gap: 1rem;
    }

    .darkgray__button {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .profile__sidebar {
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .profile__info {
        padding: 10px;
        flex-direction: column;
    }
    .profile__sidebar h2 {
        font-size: 18px;
        line-height: 1.2; 
    }
    .profile__sidebar ul li a {
        font-size: 14px; 
    }

    .cardplaces__details{
        flex-direction: column;
    }


    .cardplaces__info h3 {
        font-size: 18px;
    }

    .cardplaces__info p {
        font-size: 14px;
    }

    .darkgray__button {
        font-size: 16px;
        height: 40px;
    }
}

/* ROUTEPAGE */

.routepage__view{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routepage__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5E6977;
    color: white;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    padding: 20px;
    gap: 2rem;
}

.routepage__info{
    width: 80%;
}

.routepageinfo__title h1{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.routepageinfo__title h1::after{
    content: "";
    display: block;
    width: 80%; 
    height: 2px; 
    background-color: white; 
    margin: 0 auto;
    margin-top: 20px;
}

.routepageplace__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
    color: #B4B4B4;
    text-align: justify;
}

.routepageplace__info p{
    padding-top: 1rem;
    font-size: 22px;
}

.routepageplace__subinfo{
    text-align: center;
    margin-top: 1rem;
    color: #FFFFFF;
    font-size: 22px;
}

.average__price{
    margin-bottom: 1rem;
}





.routemap__view{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routemap__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5E6977;
    color: white;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    padding: 20px;
    gap: 2rem;
}

.routemap__info{
    width: 50%;
}

.mapinfo__title h1{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.mapinfo__title h1::after{
    content: "";
    display: block;
    width: 80%; 
    height: 2px; 
    background-color: white; 
    margin: 0 auto;
    margin-top: 20px;
}

.mapplace__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
    color: #B4B4B4;
    text-align: justify;
}

.mapplace__info h2{
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    color: white;
}

.mapplace__info p{
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}




.routepage__card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
.routepagecard__info {
    width: 50%;
    background-color: #5E6977;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    padding: 25px;
}
  
.routepagecard__info h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
  
.routepagecard__info p {
    font-size: 18px;
    line-height: 1.25;
    color: #B4B4B4;
}


/* Для экранов до 1240px */
@media (max-width: 1240px) {
    .routepage__container,
    .routemap__container {
        width: 90%;
        gap: 1.5rem;
    }

    .routepageinfo__title h1,
    .mapinfo__title h1 {
        font-size: 42px;
    }

    .routepageplace__info p,
    .mapplace__info p {
        font-size: 20px;
    }


    .routepage__card {
        flex-direction: column;
        gap: 20px;
        width: 70%;
    }

    .routepagecard__info {
        width: 100%; 
        padding: 20px;
    }
}

@media (max-width: 992px) {
    .routepage__container,
    .routemap__container {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center; 
        gap: 1.5rem;
        padding: 20px;
        width: 90%; 
    }

    .routepage__info{
        width: 90%;
    }
    .routemap__info {
        width: 90%; 
        text-align: center; 
    }

    .routepage__view,
    .routemap__view {
        height: auto;
        margin-bottom: 2rem; 
    }

    .mapinfo__title h1 {
        font-size: 36px; 
    }

    .mapplace__info p {
        font-size: 26px; 
    }

    .mapplace__info h2 {
        font-size: 24px;
    }



    .routepage__card {
        width: 80%;
        margin-bottom: 1rem;
    }

    .routepagecard__info {
        font-size: 16px; 
    }
}


/* Для экранов до 768px */
@media (max-width: 768px) {
    .routepage__container,
    .routemap__container {
        padding: 10px;
        gap: 1rem;
    }

    .routepageplace__subinfo p{
        font-size: 15px;
    }
    .mapinfo__title h1 {
        font-size: 34px;
    }

    .routepageplace__info p{ 
        font-size: 16px;
    }
    .mapplace__info p{
        font-size: 20px;
    }



    .routepage__card {
        width: 60%;
        margin-bottom: 1rem;
    }
}

/* Для экранов до 576px */
@media (max-width: 576px) {
    .routepage__container,
    .routemap__container {
        padding: 10px;
        gap: 1rem;
        flex-direction: column;
    }

    .routepageinfo__title h1,
    .mapinfo__title h1 {
        font-size: 30px;
    }

    .routepageplace__info p,
    .mapplace__info p {
        font-size: 14px;
    }

    .routepageplace__info,
    .mapplace__info {
        gap: 0.5rem;
    }
}